@font-face{
font-family: 'Noteworthy';
src: url('../fonts/Noteworthy-Lt.woff2')
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/fonts/montserrat-regular.woff2');
}

@font-face {
  font-family: 'Bebas';
  src: url('@/fonts/BebasNeueRegular.woff2')
}