@import "_vars";
@import "_fonts";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  // color: $accent;
}

.text {
  color: #be3778;
}
