@import "~normalize.css";

body {
  background-image: url(../img/logo.jpg);
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-Bold.woff2);
}

p {
  color: red;
}

h1 {
  color: red;
}

.logo {
  background-color: blue;
}
